html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: end;
}

header a {
    margin: 2%;
}
